<h1>Create New Admin</h1>

<%= form_for @admin do |f| %>
  <%= f.hidden_field :role, value: 1 %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :confirmation_password %>
  <%= f.password_field :confirmation_password %>

  <%= f.submit "Create Admin"%>

<% end %>
