<h1>Create New Pokemon</h1>

<%= form_for @pokemon do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :pokemon_type %>
  <%= f.text_field :pokemon_type %>

  <%= f.submit "Create Pokemon"%>

<% end %>
